
.container{
    height:100vh;
    padding-top:150px;
    text-align:center;
}



.button{
    height:50px;
    width:450px;
    color:white;
    background-color:black;
    border-radius:12px;
    border-style:solid;
}

.dark-mode{
    background-color:black;
    color:white;
}

.light-btn{
    height:50px;
    width:450px;
    background-color:white;
    color:black;
    border-radius:12px;
    border-style:solid;
}

.dark-btn{
    height:50px;
    width:450px;
    background-color:black;
    color:white;
    border-radius:12px;
    border-style:solid;
}